body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

footer {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: none;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: #dadada;
}

.bi-list {
  color: white;
}

.form-control:focus {
  border-color: #cebab0 ;
  box-shadow: 0 0 0 .25rem rgba(202, 150, 123, 0.25);
}

.selectize-input.focus {
  border-color: #cebab0 !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(202, 150, 123, 0.6) !important;
}